body{
 font-size: 2em;
padding: 30px; 
}
input{
	 font-size: 1.5em;
}
#container{
	height: 300px;
	width: 800px;
	position:relative;
	overflow:auto;
	border-style: solid;

}
#buttons{
	position:relative;
}